
<div style="color: blue;">
  <h5>{{title}}</h5>
  <div style="">
    <input style="color: blue;" [placeholder]="'First Name'" [(ngModel)]="student.firstName">
    <div></div>
    <input style="color: blue;" [placeholder]="'Last Name'" [(ngModel)]="student.lastName">
    <div></div>
    <input style="color: blue;" [placeholder]="'Student Number'" [(ngModel)]="student.number">
    <div></div>
    <button style="color: white; background-color: #3737f1;" (click)="save()">save</button>
  </div>
</div>
